@page
@using Forum.Data.Models;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ForumUser> UserManager;
@model BeerAnarchists.Pages.Profile.DisplayProfileModel
@{
  ViewData["Title"] = "User Profile: " + (Model.CurrentUserData.Alias ?? Model.CurrentUserData.UserName);
}
<div class="container">
  <div class="d-flex justify-content-between" style="border: 1px solid black; background-color:#4b0076; color:#f6d56d">
  <div class="col-lg-*"><h4></h4></div>
  <div class="col-lg-*"><h4>Member Profile</h4></div>
  <div class="col-lg-*"><p style="vertical-align:bottom">Member Since:@Model.CurrentUserData.MemberSince</p></div>
  </div>
<div class="row justify-content-center">
  <div class="col-6" style="max-width: 256px">
    <img src="~/img/@Model.CurrentUserData.ImageUrl" alt="Image" width="256"/>
  </div>
  <div class="col-6">
    <div class="row justify-content-center">
      @if(Model.CurrentUserData.Alias is not null){
        @Html.DisplayFor(m => m.CurrentUserData.Alias);
      }else{
        @Html.DisplayFor(m => m.CurrentUserData.UserName);
      }
    </div>
    <div class="row justify-content-center">
      Description: @Html.DisplayFor(m => (m.CurrentUserData.Description))
    </div>
    <div class="row justify-content-center">
      <div class="col-2" style="text-align:center">
        <p>Statistics:</p>
        #Posts: @Html.DisplayFor(m => m.CurrentUserData.NumberOfPosts)
        Latest post: @Html.DisplayFor(m => m.CurrentUserData.LatestPost)
      </div>
    </div>
  </div>
</div>
  <div class="row justify-content-center">
    <div class="col-5 btn-group-lg">
      <a class="btn btn-primary btn-lg" asp-page="/Index" asp-route-userId="a" >Add Friend</a>
      <a class="btn btn-primary btn-lg" asp-page="/Index" asp-route-userId="b" >Send A PM!</a>
      <a class="btn btn-warning btn-lg" asp-page="/Index" asp-route-userId="c" >Ignore User</a>
    </div>
  </div>
</div>