@page
@using Forum.Data.Models;
@using Microsoft.AspNetCore.Identity;
@model BeerAnarchists.Pages.SubForum.SubForumModel
@inject SignInManager<ForumUser> SignInManager
@inject UserManager<ForumUser> UserManager
@{
  ViewData["Title"] = Model.Title;
  var user = await UserManager.GetUserAsync(User);
}
<div class="text-center">
    <h1 class="display-4">@Model.Description</h1>
    <p>
      SubForum started by @Model.Author
    </p>
    @if (SignInManager.IsSignedIn(User))
    {
        <span id="postBtn">
            <a asp-page="/Thread/NewThread" asp-route-subForumId="@Model.Id" asp-route-userId=@user?.Id class="btn-secondary">
        Create new Thread
      </a>
    </span>
    }
    <table class="table table striped table-dark table-hover" id="indexTable">
        @foreach (var thread in Model.ForumThreads) {
            <tr>
              <td>
                <a asp-page="/Thread/Thread" asp-route-id="@thread.Id">
                  @thread.Name
                </a>
              </td>
              <td>
                @thread.Description
              </td>
              <td>
                @thread.Posts.Count()
              </td>
              <td>
                @if (thread.Posts.Count() > 0) {
                <p>
                  Last post: @thread.Posts.OrderByDescending(x => x.Created).First().Created <br>
                  By @(thread.Posts.OrderByDescending(x => x.Created).First().Author.Alias ?? @thread.Posts.OrderByDescending(x => x.Created).First().Author.UserName)
                        </p>
                    } else {
                        <p>
                          No Posts yet!
                        </p>
                    }
              </td>
            </tr>
        }

    </table>
</div>