@page
@using Forum.Services;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Forum.Data.Models.ForumUser> SignInManager
@inject UserManager<Forum.Data.Models.ForumUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@inject ApiService ApiService
@model IndexModel
@{
    ViewData["Title"] = "Forum Index";
    var user = await UserManager.GetUserAsync(User);
}
<div class="container pt-3">

@if(SignInManager.IsSignedIn(User) && User.IsInRole("Admin")) {
    <div class="row justify-content-center">
      <div class="col-4 align-content-center">
        <a asp-page="/SubForum/NewSubforum" 
         asp-route-userId=@user?.Id 
         class="btn-secondary btn-lg" 
         style="background-color:#4b0076; color:#f6d56d">
          [ADMIN] Create new Subforum
        </a>
      </div>
    </div>
}
<div class="row text-center">
    <h1 class="display-4">Welcome to the Beer-Anarchists Forum</h1>
    <p>The community where you can enjoy first class conversation from the comfort of your sofa, or bed</p>
    <p>Total number of posts: @(await ApiService.GetNumberOfPosts())</p>
    <h3>Our Forums</h3>
</div>
<div class="row">
    <table class="table table-striped table-dark table-hover" id="indexTable">
      <thead>
        <tr>
          <td class="text-center">Link to Forum</td>
          <td>What to discuss?</td>
          <td>#Posts</td>
        </tr>
      </thead>
        @foreach (var subFora in Model.SubForums) {
          <tr>
            <td>

          <div class="row text-center tablerow">
            <div class="subforum-container">
              <div class="suforum-image" style="background-image: url(@subFora.ImageUrl)"></div>
                <a asp-page="./SubForum/SubForum" asp-route-id="@subFora.Id">
                  @subFora.Title
                </a>
            </div>
          </div>
            </td>
            <td>
                @subFora.Description
            </td>
            <td>
              @subFora.NumberOfPosts
            </td>
            </tr>
        }
    </table>
</div>
            @{
                var numberOfUsers = await ApiService.GetRegisteredUsers();
                var topPosters = await ApiService.GetTopPosters();
                topPosters = topPosters.Take(3);
                int posternumber = 1;
            }
<div class="row pt-3">
  @*<div class="col-6">
    <p>Our Top 3 posters (since start)</p>
            @foreach(var poster in topPosters) {
                <p>@posternumber: @(poster.Alias??poster.UserName) with @poster.Posts Posts</p>
                posternumber++;
            }
  </div>*@
  <div class="col-5">
    <p>We have @numberOfUsers active users as of @DateTime.Now</p>
  </div>
  <div class="col-6">

  </div>
</div>
</div>
