@page
@model BeerAnarchists.Pages.RoleAdmin.IndexModel
@{
  ViewData["Title"] = "Admin: Users";
}

<div class="container">
<h1 style="text-align:center">User Roles</h1>

<div class="row justify-content-center">
  <div class="col-4 justify-content-center" style="text-align:center">
    <h3>Roles currently in use</h3>
            @{
                int counter = 1;
            }
    @foreach (var role in Model.UserRoles)
    {
        <p>@(counter++) : @role.Name</p>
    }
  </div>
</div>
<div class="row">
  <p>The roles which are implemented in code are <b>Admin</b> and <b>User</b></p>
  <p>Contact devs is you desire other functionality, e.g. Moderator</p>
</div>

<div>
    <h3>Table of current Users: </h3>

    <table class="table">

        <tr>
            <th>Username</th>
            <th>Status</th>
            @foreach (var role in Model.UserRoles)
            {
                <th>@role.Name</th>
            }
        </tr>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@(user.LockoutEnd > DateTime.Now?"Locked Out":"Free to roam the forums") </td>

                @foreach (var role in Model.UserRoles)
                {
                    if (await Model._userManager.IsInRoleAsync(user, role.Name))
                    {
                        <td>
                            <a href="?RemoveUserId=@user.Id&Role=@role.Name" class="bg-success text-white p-1"><i class="bi bi-check-circle"></i></a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a href="?AddUserId=@user.Id&Role=@role.Name" class="bg-danger text-white p-1"><i class="bi bi-x-circle"></i></a>
                        </td>
                    }
                }
            </tr>
        }

    </table>
</div>

<div>
    <form method="post">
        <label for="RoleName">New Role</label>
        <input name="RoleName" id="RoleName" />
        <input type="submit" value="Create new Role" />
    </form>

</div>
</div>