@using Forum.Data.Interfaces;
@using Forum.Services;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<Forum.Data.Models.ForumUser> SignInManager
@inject UserManager<Forum.Data.Models.ForumUser> UserManager
@inject AdminService AdminService
@inject IUser UserService
@inject RoleManager<IdentityRole> RoleManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BeerAnarchists</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BeerAnarchists.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background-color: #4b0076;">
            <div class="container">
                <a class="navbar-brand main-nav" asp-area="" asp-page="/Index" style="color:gold">BeerAnarchists</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index" style="color:#f6d56d">Home</a>
                        </li>
                        @*Only For logged in users*@
                        @if(SignInManager.IsSignedIn(User)) {
                            var user = await UserManager.GetUserAsync(User);
                            //var messages = 
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Group/Groups" asp-route-userId=@UserManager.GetUserId(User) style="color:#f6d56d">
                                    <i class="bi bi-people-fill"></i> Groups
                                    @if (UserService.GetNumberInGroupMessages(user.Id) > 0)
                                    {
                                        <span class="badge rounded-pill bg-danger text-light"> 
                                            @UserService.GetNumberInGroupMessages(user.Id)
                                        </span>
                                    }
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Message/Inbox" asp-route-userId=@UserManager.GetUserId(User) style="color:#f6d56d">
                                        <i class="bi bi-envelope"></i>
                                        <span>Messages</span>
                                    @if (UserService.GetNumberInInbox(user.Id) > 0) {
                                            <span class="badge rounded-pill bg-danger text-light"> 
                                                @UserService.GetNumberInInbox(user.Id)
                                        </span>
                                    }
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Profile/ManageUserProfile" asp-route-userId=@UserManager.GetUserId(User) style="color:#f6d56d">Profile</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/About" style="color:#f6d56d">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Privacy" style="color:#f6d56d">Privacy</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @*Only For Admin*@
                        @if(SignInManager.IsSignedIn(User) && User.IsInRole("Admin")){
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Admin/Index" style="color:#f6d56d">Admin Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Admin/ReportedPosts" style="color:#f6d56d">
                              <span>Reported Posts</span>
                              @if (AdminService.GetNumberOfNewReports() > 0) {
                                            <span class="badge rounded-pill bg-danger text-light"> 
                                                @AdminService.GetNumberOfNewReports()
                                        </span>
                                    }
                            </a>
                        </li>
                        }
                        @*Only For logged in users*@
                        @if(SignInManager.IsSignedIn(User)) {
                            <li class="nav-item">
                                <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="color:#f6d56d">My Account</a>
                            </li>
                            <li class="nav-item">
                                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                                  <button id="logout" type="submit" class="nav-link btn btn-link border-0" style="color:#f6d56d">Logout</button>
                                </form>
                            </li>

                        }
                        @*Not Signed In, Register or log in*@
                        else {
                                <li class="nav-item">
                                    <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - BeerAnarchists - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>